* { 
    padding: 0;
margin:0;
}


.body{

    background: #f2f2f2;
    width:1500px;
    height:1500px;
    display: inline-line;
}


.titulo {
    text-align: left; 
    font-family: Comic Arial, Helvetica, sans-serif;; 
    font-weight:bold; 
    font-size: 50px; 
    text-align: center;
    letter-spacing: 2px;
    color: #EBD758; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68; 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
}


div h1 {

    padding: 4px;
    margin: 1px 1px 1px 1px;
  
    border: 1.5px solid #ffffff;
}


@keyframes colores {
    from {background:#ff5733; }
    to {background: #e9967a}
}
.container {
    animation-name: colores;
    animation-duration: 60s;
    animation-iteration-count: ;
   
    padding: 10px;
}


.galeria {

    background: #f1cbc1
    border = #f2f2f2;
}


.galeria img {
    vertical-align: top;
    width: 185px;
    height: 150px;
    border:1px solid#e0f8f5;
    padding: 5px;


}

 img:hover {
    
    border:1px solid #fff,
    opacity = 0.8;
    padding: 25px 35px;

}

.containerdos  {
    text-align: center;
    background: url(imagenes/gen.jpg);
    padding: 20px;
    
    border: 3px solid #e9967a;
    background-color: #e9967a; 
}

.parUno {
    color: #ef358f;
}

